@import './px.css';
@import './text.css';
@import './radius.css';

@theme {
  --header-height: 7.25rem;

  --spacing: 0.0625rem;

  --font-vinyl: 'vinyl';
  --font-pluto-medium: 'PlutoMedium';
  --font-segoe-ui: 'Segoe UI';
}
