@theme inline {
  --radius-1: var(--px-1);
  --radius-2: var(--px-2);
  --radius-3: var(--px-3);
  --radius-4: var(--px-4);
  --radius-5: var(--px-5);
  --radius-6: var(--px-6);
  --radius-7: var(--px-7);
  --radius-8: var(--px-8);
  --radius-9: var(--px-9);
  --radius-10: var(--px-10);
  --radius-11: var(--px-11);
  --radius-12: var(--px-12);
  --radius-13: var(--px-13);
  --radius-14: var(--px-14);
  --radius-15: var(--px-15);
  --radius-16: var(--px-16);
  --radius-17: var(--px-17);
  --radius-18: var(--px-18);
  --radius-19: var(--px-19);
  --radius-20: var(--px-20);
  --radius-21: var(--px-21);
  --radius-22: var(--px-22);
  --radius-23: var(--px-23);
  --radius-24: var(--px-25);
  --radius-25: var(--px-25);
  --radius-26: var(--px-26);
  --radius-27: var(--px-27);
  --radius-28: var(--px-28);
  --radius-29: var(--px-29);
  --radius-30: var(--px-30);
  --radius-31: var(--px-31);
  --radius-32: var(--px-32);
  --radius-33: var(--px-33);
  --radius-34: var(--px-34);
  --radius-35: var(--px-35);
  --radius-36: var(--px-36);
  --radius-37: var(--px-37);
  --radius-38: var(--px-38);
  --radius-39: var(--px-39);
  --radius-40: var(--px-40);
  --radius-41: var(--px-41);
  --radius-42: var(--px-42);
  --radius-43: var(--px-43);
  --radius-44: var(--px-44);
  --radius-45: var(--px-45);
  --radius-46: var(--px-46);
  --radius-47: var(--px-47);
  --radius-48: var(--px-48);
  --radius-49: var(--px-49);
  --radius-50: var(--px-50);
  --radius-51: var(--px-51);
  --radius-52: var(--px-52);
  --radius-53: var(--px-53);
  --radius-54: var(--px-54);
  --radius-55: var(--px-55);
  --radius-56: var(--px-56);
  --radius-57: var(--px-57);
  --radius-58: var(--px-58);
  --radius-59: var(--px-59);
  --radius-60: var(--px-60);
  --radius-61: var(--px-61);
  --radius-62: var(--px-62);
  --radius-63: var(--px-63);
  --radius-64: var(--px-64);
  --radius-65: var(--px-65);
  --radius-66: var(--px-66);
  --radius-67: var(--px-67);
  --radius-68: var(--px-68);
  --radius-69: var(--px-69);
  --radius-70: var(--px-70);
  --radius-71: var(--px-71);
  --radius-72: var(--px-72);
  --radius-73: var(--px-73);
  --radius-74: var(--px-74);
  --radius-75: var(--px-75);
  --radius-76: var(--px-76);
  --radius-77: var(--px-77);
  --radius-78: var(--px-78);
  --radius-79: var(--px-79);
  --radius-80: var(--px-80);
  --radius-81: var(--px-81);
  --radius-82: var(--px-82);
  --radius-83: var(--px-83);
  --radius-84: var(--px-84);
  --radius-85: var(--px-85);
  --radius-86: var(--px-86);
  --radius-87: var(--px-87);
  --radius-88: var(--px-88);
  --radius-89: var(--px-89);
  --radius-90: var(--px-90);
  --radius-91: var(--px-91);
  --radius-92: var(--px-92);
  --radius-93: var(--px-93);
  --radius-94: var(--px-94);
  --radius-95: var(--px-95);
  --radius-96: var(--px-96);
  --radius-97: var(--px-97);
  --radius-98: var(--px-98);
  --radius-99: var(--px-99);
  --radius-100: var(--px-100);
}
