@theme inline {
  --text-1: var(--px-1);
  --text-1--line-height: calc(0.0833 / 0.0625);
  --text-2: var(--px-2);
  --text-2--line-height: calc(0.1667 / 0.125);
  --text-3: var(--px-3);
  --text-3--line-height: calc(0.25 / 0.1875);
  --text-4: var(--px-4);
  --text-4--line-height: calc(0.3333 / 0.25);
  --text-5: var(--px-5);
  --text-5--line-height: calc(0.4167 / 0.3125);
  --text-6: var(--px-6);
  --text-6--line-height: calc(0.5 / 0.375);
  --text-7: var(--px-7);
  --text-7--line-height: calc(0.5833 / 0.4375);
  --text-8: var(--px-8);
  --text-8--line-height: calc(0.6667 / 0.5);
  --text-9: var(--px-9);
  --text-9--line-height: calc(0.75 / 0.5625);
  --text-10: var(--px-10);
  --text-10--line-height: calc(0.8333 / 0.625);
  --text-11: var(--px-11);
  --text-11--line-height: calc(0.9167 / 0.6875);
  --text-12: var(--px-12);
  --text-12--line-height: calc(1 / 0.75);
  --text-13: var(--px-13);
  --text-13--line-height: calc(1.125 / 0.8125);
  --text-14: var(--px-14);
  --text-14--line-height: calc(1.25 / 0.875);
  --text-15: var(--px-15);
  --text-15--line-height: calc(1.354 / 0.9375);
  --text-16: var(--px-16);
  --text-16--line-height: calc(1.5 / 1);
  --text-17: var(--px-17);
  --text-17--line-height: calc(1.6528 / 1.0625);
  --text-18: var(--px-18);
  --text-18--line-height: calc(1.75 / 1.125);
  --text-19: var(--px-19);
  --text-19--line-height: calc(1.65 / 1.1875);
  --text-20: var(--px-20);
  --text-20--line-height: calc(1.75 / 1.25);
  --text-21: var(--px-21);
  --text-21--line-height: calc(1.8333 / 1.3125);
  --text-22: var(--px-22);
  --text-22--line-height: calc(1.9167 / 1.375);
  --text-23: var(--px-23);
  --text-23--line-height: calc(2 / 1.4375);
  --text-24: var(--px-24);
  --text-24--line-height: calc(2 / 1.5);
  --text-25: var(--px-25);
  --text-25--line-height: calc(2.0833 / 1.5625);
  --text-26: var(--px-26);
  --text-26--line-height: calc(2.1667 / 1.625);
  --text-27: var(--px-27);
  --text-27--line-height: calc(2.25 / 1.6875);
  --text-28: var(--px-28);
  --text-28--line-height: calc(2.3333 / 1.75);
  --text-29: var(--px-29);
  --text-29--line-height: calc(2.4167 / 1.8125);
  --text-30: var(--px-30);
  --text-30--line-height: calc(2.25 / 1.875);
  --text-31: var(--px-31);
  --text-31--line-height: calc(2.3333 / 1.9375);
  --text-32: var(--px-32);
  --text-32--line-height: calc(2.4 / 2);
  --text-33: var(--px-33);
  --text-33--line-height: calc(2.475 / 2.0625);
  --text-34: var(--px-34);
  --text-34--line-height: calc(2.55 / 2.125);
  --text-35: var(--px-35);
  --text-35--line-height: calc(2.625 / 2.1875);
  --text-36: var(--px-36);
  --text-36--line-height: calc(2.5 / 2.25);
  --text-37: var(--px-37);
  --text-37--line-height: calc(2.5625 / 2.3125);
  --text-38: var(--px-38);
  --text-38--line-height: calc(2.625 / 2.375);
  --text-39: var(--px-39);
  --text-39--line-height: calc(2.6875 / 2.4375);
  --text-40: var(--px-40);
  --text-40--line-height: calc(2.75 / 2.5);
  --text-41: var(--px-41);
  --text-41--line-height: calc(2.8125 / 2.5625);
  --text-42: var(--px-42);
  --text-42--line-height: calc(2.875 / 2.625);
  --text-43: var(--px-43);
  --text-43--line-height: calc(2.9375 / 2.6875);
  --text-44: var(--px-44);
  --text-44--line-height: calc(3 / 2.75);
  --text-45: var(--px-45);
  --text-45--line-height: calc(3.0625 / 2.8125);
  --text-46: var(--px-46);
  --text-46--line-height: calc(3.125 / 2.875);
  --text-47: var(--px-47);
  --text-47--line-height: calc(3.1875 / 2.9375);
  --text-48: var(--px-48);
  --text-48--line-height: 1;
  --text-49: var(--px-49);
  --text-49--line-height: 1;
  --text-50: var(--px-50);
  --text-50--line-height: 1;
  --text-51: var(--px-51);
  --text-51--line-height: 1;
  --text-52: var(--px-52);
  --text-52--line-height: 1;
  --text-53: var(--px-53);
  --text-53--line-height: 1;
  --text-54: var(--px-54);
  --text-54--line-height: 1;
  --text-55: var(--px-55);
  --text-55--line-height: 1;
  --text-56: var(--px-56);
  --text-56--line-height: 1;
  --text-57: var(--px-57);
  --text-57--line-height: 1;
  --text-58: var(--px-58);
  --text-58--line-height: 1;
  --text-59: var(--px-59);
  --text-59--line-height: 1;
  --text-60: var(--px-60);
  --text-60--line-height: 1;
  --text-61: var(--px-61);
  --text-61--line-height: 1;
  --text-62: var(--px-62);
  --text-62--line-height: 1;
  --text-63: var(--px-63);
  --text-63--line-height: 1;
  --text-64: var(--px-64);
  --text-64--line-height: 1;
  --text-65: var(--px-65);
  --text-65--line-height: 1;
  --text-66: var(--px-66);
  --text-66--line-height: 1;
  --text-67: var(--px-67);
  --text-67--line-height: 1;
  --text-68: var(--px-68);
  --text-68--line-height: 1;
  --text-69: var(--px-69);
  --text-69--line-height: 1;
  --text-70: var(--px-70);
  --text-70--line-height: 1;
  --text-71: var(--px-71);
  --text-71--line-height: 1;
  --text-72: var(--px-72);
  --text-72--line-height: 1;
  --text-73: var(--px-73);
  --text-73--line-height: 1;
  --text-74: var(--px-74);
  --text-74--line-height: 1;
  --text-75: var(--px-75);
  --text-75--line-height: 1;
  --text-76: var(--px-76);
  --text-76--line-height: 1;
  --text-77: var(--px-77);
  --text-77--line-height: 1;
  --text-78: var(--px-78);
  --text-78--line-height: 1;
  --text-79: var(--px-79);
  --text-79--line-height: 1;
  --text-80: var(--px-80);
  --text-80--line-height: 1;
  --text-81: var(--px-81);
  --text-81--line-height: 1;
  --text-82: var(--px-82);
  --text-82--line-height: 1;
  --text-83: var(--px-83);
  --text-83--line-height: 1;
  --text-84: var(--px-84);
  --text-84--line-height: 1;
  --text-85: var(--px-85);
  --text-85--line-height: 1;
  --text-86: var(--px-86);
  --text-86--line-height: 1;
  --text-87: var(--px-87);
  --text-87--line-height: 1;
  --text-88: var(--px-88);
  --text-88--line-height: 1;
  --text-89: var(--px-89);
  --text-89--line-height: 1;
  --text-90: var(--px-90);
  --text-90--line-height: 1;
  --text-91: var(--px-91);
  --text-91--line-height: 1;
  --text-92: var(--px-92);
  --text-92--line-height: 1;
  --text-93: var(--px-93);
  --text-93--line-height: 1;
  --text-94: var(--px-94);
  --text-94--line-height: 1;
  --text-95: var(--px-95);
  --text-95--line-height: 1;
  --text-96: var(--px-96);
  --text-96--line-height: 1;
  --text-97: var(--px-97);
  --text-97--line-height: 1;
  --text-98: var(--px-98);
  --text-98--line-height: 1;
  --text-99: var(--px-99);
  --text-99--line-height: 1;
  --text-100: var(--px-100);
  --text-100--line-height: 1;
}
