@import "tailwindcss";
/* @import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities); */

@theme {
  /* --color-*: initial; */
  --color-my-special: red;
  --spacing: 0.0625rem;
}

:root {
}

body {
  background-color: #f6f3e2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
